<%- include('../includes/head.ejs')%>
</head>

<body>
    <%- include('../includes/navigation.ejs')%>
    <% if (orders.length) { %>
        <ul>
            <% orders.forEach(order => { %>
                <li>
                    <h1># <%= order._id %></h1>
                    <ul>
                        <% order.products.forEach(prod => { %>
                            <li><%= prod.product.title %> (<%= prod.quantity %>)</li>
                        <% }) %>
                    </ul>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <h1>Nothing orders</h1>
    <% } %>
    <%- include('../includes/end.ejs')%>
    